h2{
    font-family: sans-serif;
    color: cornflowerblue;
}
a{
    color: darkred;
    text-decoration-line: none;
}
a:hover{
    text-decoration-line: underline;
}

body {
    background-color: grey;
    color: white;

}

p::first-letter{
    font-size: 150% ;

}
p{
    transform: rotateX(180deg);
}
ol{
    display: flex;
    flex-direction: column-reverse;
}